.project-links
  - if user_signed_in?
    %ul
      - if project
        = link_to project_path(project), class: (conditions_for_active_project(project).inject{|a,b| a||b} ? 'active' : nil ) do
          %li
            %i.fa.fa-bars
            %span.nav-label Builds
        = link_to project_files_path(project), class: (controller_name == 'project_files' ? 'active' : nil ) do
          %li
            %i.fa.fa-folder-open
            %span.nav-label Files
        = link_to project_participations_path(project), class: (current_page?(project_participations_path(project)) ? 'active' : nil ) do
          %li
            %i.fa.fa-users
            %span.nav-label Users
        = link_to project_settings_path(project), class: (controller_name == 'settings' ? 'active' : nil) do
          %li
            %i.fa.fa-cog
            %span.nav-label= "Settings"
        = link_to instructions_project_path(project), class: (current_page?(instructions_project_path(project)) ? 'active' : nil ) do
          %li
            %i.fa.fa-book
            %span.nav-label= "Instructions"
