= content_for :page_title do
  - if !@projects.any?
    = "You haven't added any projects yet."
    = link_to "Add a project", project_wizard_path(:select_repository),
      class: 'btn btn-raised btn-primary m-l-10'

.col-sm-12
  .col-sm-9
    - @projects.each do |project|
      = render 'project_header', project: project
  .col-sm-3
    .panelized
      %h4
        %i.fa.fa-life-ring
        Help
      %p
        Select the project of your choice and start running your tests.
      %p
        We are always available to answer every question.
        Send us an e-mail at
        = mail_to 'info@testributor.com', 'info@testributor.com'

