= content_for :page_title do
  %h3= "Your projects"

.panel.pane-default
  - if @projects.empty?
    .panel-heading
      %h3
        = "You haven't added any projects yet."
        = link_to "Add a project", project_wizard_path(:add_project),
          class: 'btn btn-primary m-l-10'
  - @projects.each do |project|
    .panel-heading
      %h4= link_to project.repository_name, project_path(project)
    .panel-body
      .row
        .col-md-12.col-sm-12.col-xs-12
          - if project.tracked_branches.empty?
            %i.small-margin
              You haven't added any branches to this project yet.
              = link_to 'Add a branch',
                project_wizard_path(:add_branch,
                repo_id: project.owner_and_name),
                class: 'btn btn-primary m-l-10'
          - else
            .table-responsive
              %table.table
                %thead
                  %tr
                    %th Branch
                    %th Commit message (SHA)
                    %th Completed at
                    %th Status
                    %th Actions
                %tbody
                  - project.tracked_branches.each do |branch|
                    %tr
                      %td= link_to branch.branch_name,
                          project_branch_test_runs_path(branch.project, branch)
                      %td
                        - if branch.last_run
                          = branch.last_run.decorate.commit_message
                      %td= branch.last_run.try(:completed_at)
                      %td
                        %span{class: branch.status.try(:css_class)}
                          = branch.status.try(:text)
                      - if branch.test_runs.present?
                        %td= button_to branch.status.cta_text,
                          project_branch_test_run_path(project.id,
                          branch.id, branch.try(:last_run).try(:id),
                          status: branch.status.status_to_set),
                          class: 'btn btn-primary', method: :put
                      -else
                        %td= button_to "Run branch",
                          project_branch_test_runs_path(project.id, branch.id),
                          class: 'btn btn-primary', method: :post
