= content_for :page_title do
  - if @projects.any?
    Your projects
  - else
    = "You haven't added any projects yet."
    = link_to "Add a project", project_wizard_path(:choose_provider),
      class: 'btn btn-primary m-l-10'

- @projects.each do |project|
  .panel
    .panel-header
      .row
        .col-md-12.col-sm-12.col-xs-12
          %h4= link_to project.owner_and_name, project_path(project)
          %hr
    .panel-body
      .row
        .col-md-12.col-sm-12.col-xs-12
          - if project.tracked_branches.empty?
            = render partial: "no_branches",
              locals: { project: project}
          - else
            - project.tracked_branches.each do |branch|
              .row
                .col-sm-2= link_to branch.branch_name,
                    project_branch_test_runs_path(branch.project, branch)
                .col-sm-6
                  - if branch.last_run
                    = branch.last_run.decorate.commit_message
                    %br
                    %i= branch.last_run.decorate.commit_info
                .col-sm-2
                  %span{class: branch.status.try(:css_class)}
                    = branch.status.try(:text)
                .col-md-2
                  - if branch.last_run.try(:completed_at)
                    = time_ago_in_words(branch.last_run.completed_at)
