= content_for :page_title do
  %h3= "Your projects"

- if @projects.empty?
  .panel.panel-default
    .panel-heading
      %h3
        = "You haven't added any projects yet."
        = link_to "Add a project", project_wizard_path(:add_project),
          class: 'btn btn-primary m-l-10'

- @projects.each do |project|
  .panel.panel-default
    .panel-heading
      %h4= link_to project.owner_and_name, project_path(project)
    .panel-body
      .row
        .col-md-12.col-sm-12.col-xs-12
          - if project.tracked_branches.empty?
            = render partial: "no_branches",
              locals: { project: project}
          - else
            .table-responsive
              %table.table
                %thead
                  %tr
                    %th Branch
                    %th Commit message (SHA)
                    %th Last run
                    %th Status
                    %th Actions
                %tbody
                  - project.tracked_branches.each do |branch|
                    %tr
                      %td.col-md-2= link_to branch.branch_name,
                          project_branch_test_runs_path(branch.project, branch)
                      %td.col-md-4
                        - if branch.last_run
                          = branch.last_run.decorate.commit_message
                          %br
                          %i= branch.last_run.decorate.commit_info
                      %td.col-md-2
                        - if branch.last_run.try(:completed_at)
                          = time_ago_in_words(branch.last_run.completed_at)
                      %td.col-md-2
                        %span{class: branch.status.try(:css_class)}
                          = branch.status.try(:text)
                      - if branch.test_runs.present?
                        %td.col-md-2
                          = render 'test_run_actions', test_run: branch.test_runs.last, current_project: project.id
                      -else
                        %td= button_to "Run branch",
                          project_branch_test_runs_path(project.id, branch.id),
                          class: 'btn btn-primary', method: :post
