= content_for :title do
  Testributor: Confirm your e-mail
= content_for :header_title do
  E-mail confirmation
= render layout: 'layouts/devise' do
  .col-xs-12
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { class: 'form-horizontal m-t-40' }) do |f|
      = devise_error_messages!
      .form-group
        = f.email_field :email, autofocus: true, class: "form-control",
          type: "text", placeholder: 'E-mail', required: true,
          value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
      .form-group
        = f.submit "Resend confirmation e-mail", class: "btn btn-block btn-raised btn-primary"
      = render "devise/shared/links"
