- breadcrumb :new_invitation, current_project

- content_for :page_title do
  Invite user

.row.panelized
  .col-xs-12
    %h2= "Invite user on project #{current_project.name}"
  .col-xs-12
    = simple_form_for [current_project, @invitation],
      wrapper: :horizontal_form, html: { class: 'form-horizontal' } do |f|
      = f.input :email
      = f.submit "Send invitation", class: 'btn btn-raised btn-default'
