= render layout: 'layouts/devise' do
  = content_for :title do
    Testributor: Sign up for a new account

  = content_for :header_title do
    Sign up for Testributor
  .col-xs-12
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal m-t-40' }) do |f|
      = devise_error_messages!
      = flash_messages
      .form-group
        = f.email_field :email, autofocus: true, class: "form-control",
          type: "text", placeholder: 'E-mail', required: true
      .form-group
        = f.password_field :password, autocomplete: "off", class: 'form-control', 
          placeholder: "Password (#{@minimum_password_length} characters minimum)", type: "password", required: true
      .form-group
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control',
        placeholder: "Repeat password", type: "password", required: true

      - if devise_mapping.rememberable?
        .form-group
          .checkbox
            = f.label :remember_me do
              = f.check_box :remember_me
              = "Remember me"
      .form-group
        = f.submit "Sign Up", class: "btn btn-block btn-raised btn-primary"
      = render "devise/shared/links"
