.col-sm-4.col-sm-offset-4
  .row
    %h2 Sign up
  .row
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      .actions
        = f.submit "Sign up"
    = render "devise/shared/links"
