- breadcrumb :project_participations, current_project

- content_for :page_title do
  Users

.panel.panel-default
  .panel-body
    .row
      .col-md-12.col-sm-12.col-xs-12
        = link_to new_project_invitation_path(current_project), class: 'btn btn-default' do
          %i.fa.fa-users
          %span.nav-label= t('invite_users')
        - if @participations.any?
          %table.table
            %thead
              %tr
                %th= "Email"
                %th= "Participated at"
                %th= "Actions"
            %tbody
              - @participations.each do |participation|
                %tr
                  %td= participation.user.email
                  %td= participation.created_at
                  %td
                    = link_to(project_participation_path(current_project, participation),
                      method: :delete, class: 'btn btn-danger',
                      data: { confirm: "The user will not be able to use this project, are you sure?" }) do
                      %i.fa.fa-remove
                      Revoke access

        - if @pending_invitations.any?
          %table.table
            %thead
              %tr
                %th= "Email"
                %th= "Invited at"
                %th= "Actions"
            %tbody
              - @pending_invitations.each do |inviation|
                %tr
                  %td= invitation.email
                  %td= invitation.created_at
                  %td
                    %i.fa.fa-remove
                    Revoke access
        - else
          %br
          %h3
            No other users participating in this project
