.col-xs-12
  = render 'layouts/wizard_steps'
.col-xs-12
  .panel.panel-default
    .row
      .panel-body
        .doc-text.well
          To start a worker you will need to have Docker Compose installed.
          %ul
            %li
              Follow the instructions on
              = link_to "the official Docker documentation", "https://docs.docker.com/", target: "_blank"
              to install Docker and Docker Compose
            %li
              Save the following file as "docker-compose.yml"
            %li Run "docker-compose up" from the same directory to start the worker
        .col-xs-12
          = render "settings/technology_selection", project: @project

        .col-xs-12
          .pull-right.m-t-15
            = link_to "Done!", project_wizard_path, method: :put,
              class: 'btn btn-success', id: "done_button",
              style: @project.active_workers.count < 1 ? "display: none" : ''

            #waiting_for_worker{ data: { 'live_update_resource_id' => @project.redis_live_update_resource_key }}
              = link_to "Skip", project_wizard_path, method: :put, class: 'btn btn-default',
                data: { confirm: "You will still need to add a worker or you won't be able to do anything useful" }
              %span.btn.btn-primary.disabled
                Waiting for worker...
