.col-xs-12
  = render 'layouts/wizard_steps'
.col-xs-12
  .panel.panel-default
    .panel-heading
      %h3 Select a repository provider:
    .panel-body
      .col-md-12.m-t-10
        = form_tag project_wizard_path(id: step), method: :put do
          .col-sm-4
            .row
              .col-sm-12
                - if current_user.github_access_token
                  .radio
                    %label.provider-box.btn.btn-default
                      = radio_button_tag "repository_provider", "github",
                        params[:repository_provider] == "github",
                        data: { current_path: fetch_repos_project_wizard_path(page: params[:page],
                                repository_provider: "github") }

                      %i.fa.fa-github
                      GitHub
                - else
                  = link_to github_oauth_authorize_url do
                    .provider-box.btn.btn-default
                      %i.fa.fa-github
                      GitHub
                      %br
                      %small
                        (You will be redirected to authorize)
            .row
              .col-sm-12.provider-list
                %ul.list-unstyled
                  %li
                    %i.fa.fa-circle-thin
                    Automatic integration
                  %li
                    %i.fa.fa-circle-thin
                    New branches automatically tracked
                  %li
                    %i.fa.fa-circle-thin
                    Builds added automatically
                  %li
                    %i.fa.fa-circle-thin
                    Pull Request status integration
          .col-sm-4
            .row
              .col-sm-12
                - if current_user.bitbucket_access_token
                  .radio
                    %label.provider-box.btn.btn-default
                      = radio_button_tag "repository_provider", "bitbucket",
                        params[:repository_provider] == "bitbucket",
                        data: { current_path: fetch_repos_project_wizard_path(page: params[:page],
                                repository_provider: "bitbucket") }
                      %i.fa.fa-bitbucket
                      Bitbucket
                - else
                  = link_to authorize_bitbucket_access_path do
                    .provider-box.btn.btn-default
                      %i.fa.fa-bitbucket
                      Bitbucket
                      %br
                      %small
                        (You will be redirected to authorize)
            .row
              .col-sm-12.provider-list
                %ul.list-unstyled
                  %li
                    %i.fa.fa-circle-thin
                    Automatic integration
                  %li
                    %i.fa.fa-circle-thin
                    New branches automatically tracked
                  %li
                    %i.fa.fa-circle-thin
                    Builds added automatically
          .col-sm-4
            .row
              .col-sm-12
                .radio
                  %label.provider-box.btn.btn-default
                    = radio_button_tag "repository_provider", "bare_repo",
                      params[:repository_provider] == "bare_repo"
                    %i.fa.fa-git-square
                    Bare repo
            .row
              .col-sm-12.provider-list
                %ul.list-unstyled
                  %li
                    %i.fa.fa-circle-thin
                    Manual integration (repository url & SSH key)
                  %li
                    %i.fa.fa-circle-thin
                    No third party authorisation needed
                  %li
                    %i.fa.fa-circle-thin
                    Builds added manually
                  %li
                    %i.fa.fa-circle-thin
                    No Pull Request status integration
                  %li
                    %i.fa.fa-circle-thin
                    Increased Privacy
                  %li
                    %i.fa.fa-circle-thin
                    Compatible with any Git repository provider

          .col-xs-12.fetch-repos
            .js-fetching-repos.text-center.loading-overlay
              %h3 Fetching your repositories. Please give us a few seconds...
              %p= image_tag('loading_spinner.gif')
            .js-fetch-repos

            .bare-repo{ style: "display: none" }
              %h3 Git bare repository
              .form-group
                = label_tag :repository_name, "Name"
                = text_field_tag :repository_name, params[:repository_name], class: "form-control"
              .form-group
                = label_tag :repository_url
                = text_field_tag :repository_url, params[:repository_url],
                  placeholder: "Enter the Git repository url here (e.g. git@github:username/repository.git)",
                  class: "form-control"

              .form-group
                = label_tag :private_key
                = text_area_tag :private_key, params[:private_key],
                  placeholder: 'Paste the private SSH key here',
                  class: 'form-control'
              = submit_tag "Next", class: "btn btn-primary w-lg btn-lg pull-right"
