<tr id="test-job-{{id}}" >
  <td>{{command}}</td>
  <td class="status">
    <span class="{{status_css_class}}">{{status_text}}</span>
  </td>
  <td class="errors">{{test_errors}}</td>
  <td class="failures">{{ failures}}</td>
  <td class="count">{{count}}</td>
  <td class="assertions">{{assertions}}</td>
  <td class="skips">{{skips}}</td>
  <td class="completed_at">{{completed_at}}</td>
  <td class="running_time">{{total_running_time}}</td>
  <td>
    <a class="btn btn-primary btn-xs m-b-5" rel="nofollow" data-method="put" href="{{retry_url}}">
      <i class="fa fa-refresh"></i>
      <span>Retry</span>
    </a>
  </td>
</tr>
