= content_for :title do
  Testributor: Reset your account password
= content_for :header_title do
  Reset password
= render layout: 'layouts/devise' do
  .col-xs-12
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form-horizontal m-t-40' }) do |f|
      = devise_error_messages!
      .form-group
        = f.email_field :email, autofocus: true, class: "form-control",
          type: "text", placeholder: 'E-mail', required: true
      .form-group
        = f.submit "Reset password", class: "btn btn-block btn-raised btn-primary"
      = render "devise/shared/links"
