.technology-selections
  .col-lg-6
    = form_for project, remote: true, html: { id: "project_edit" } do |f|
      %h4 Choose images
      .form-group
        %label.control-label Base image
        = f.select :docker_image_id,
          grouped_options_for_select(grouped_languages_options,
          f.object.docker_image_id), {}, class: "form-control"
      .form-group
        %label.control-label Linked images
        = f.select :technology_ids,
          options_for_select(technologies_options, f.object.technology_ids),
          {}, multiple: true, class: 'multi-select form-control'
      .form-group
        %label.control-label
          %a{ href: "#", data: { toggle: "popover", container: 'body', html: 'true',
            role: "button", trigger: "focus",
            content: "Add custom yml keys to be merged to the final file. Read more #{link_to("here", "http://documentation.testributor.com/worker_setup", target: "_blank").html_safe}." } }
            %i.fa.fa-question-circle
          Custom yml data
        = f.text_area :custom_docker_compose_yml
      .form-group
        = f.submit "Save", class: "btn btn-raised btn-primary", disable_with: "Saving"

  .col-lg-6.docker-compose-preview
    %h4 Docker-compose.yml

    .js-ajax-loader.loading-overlay
      .loading-content
        .fa.fa-refresh.fa-spin
        Updating file...

    :ruby
      contents = project.generate_docker_compose_yaml(
        project.worker_groups.first.try(:oauth_application_id))

      if contents.blank?
        contents = "No worker group found. Please add a worker group first."
      end

    .form-group
      %label.control-label Preview final docker-compose.yml
      = text_area_tag :contents, contents, id: 'docker-compose-contents',
        class: 'text form-control'
