= render 'settings_common_header'
.row.panelized
  .col-xs-12
    %h3 Email notifications
  .col-xs-12
    These are settings only for you. Other users participating in this project
    might have different notification settings.
  .col-xs-12.notification-settings-cards
    %h5.m-b-10
      %strong When do you want to receive email notifications?
    = simple_form_for current_user.participation_for_project(current_project),
      url: project_settings_participation_path(current_project, current_user.participation_for_project(current_project)),
      wrapper: "horizontal_form" do |f|

      - if current_project.repository_provider != "bare_repo"
        .col-xs-12.well
          %h4 New branches
          .col-xs-12.form-row
            = f.input :new_branch_notify_on, as: :select,
              collection: BranchNotificationSetting::NOTIFY_ON_MAP_HUMAN.invert,
              include_blank: false, label: "Default setting"
        - if current_project.tracked_branches.any?
          .col-xs-12.well
            %h4 Existing branches

            = f.simple_fields_for :branch_notification_settings do |ff|
              .col-xs-12.form-row
                = ff.input :notify_on, as: :select,
                  collection: BranchNotificationSetting::NOTIFY_ON_MAP_HUMAN.invert,
                  include_blank: false, label: ff.object.tracked_branch.branch_name,
                  label_html: { class: "ellipsis-text" }
                = ff.input :tracked_branch_id, as: :hidden
                = ff.input :id, as: :hidden

      .col-xs-12.well
        %h4 Initiator based settings
        :ruby
          # On status change does not make sense for initator settings
          options = BranchNotificationSetting::NOTIFY_ON_MAP_HUMAN.except(
            BranchNotificationSetting::NOTIFY_ON_MAP.invert[:status_change]).invert
        .col-xs-12.form-row
          = f.input :my_builds_notify_on, as: :select,
            collection: options, include_blank: false, label: "My builds"

        .col-xs-12.form-row
          = f.input :others_builds_notify_on, as: :select,
            collection: options, include_blank: false,
            label: "Other members builds"

      = f.submit "Save", class: 'btn btn-raised btn-primary'
