- breadcrumb :settings, current_project

= render 'settings_common_header'

.tab-content.col-xs-12
  - if current_project.repository_provider == "bare_repo"
    .row
      .col-xs-12
        = simple_form_for current_project do |f|
          - #TODO: In the future we might be able to avoid restarting by sending
          - # the new repository_url to the active workers
          = f.input :repository_url, hint: "You will need to restart your workers after changing this setting"
          = f.submit "Save", class: "btn btn-primary"

    %hr
  - if can? :manage, current_project
    .row
      - if current_project.is_private?
        .well.col-xs-6
          .col-md-10
            %strong Make your project public: <br>
            Anyone will be able to access your public pages.
            Users who do not participate will not have access to project configuration,
            credentials or be able to add/remove builds.
          .col-md-2
            = button_to "Public", toggle_private_project_path(current_project), method: :post,
              data: { confirm: "'#{current_project.name}' project will become public. Are you sure?" },
              class: 'btn btn-md btn-success'
      - else
        .well.col-xs-6
          .col-md-10
            %strong Make your project private: <br>
            User which are not members of this project will <strong> NOT </strong> be able
            to access your pages.
          .col-md-2
            = button_to "Private", toggle_private_project_path(current_project), method: :post,
              data: { confirm: "'#{current_project.name}' project will become private. Are you sure?" },
              class: 'btn btn-md btn-danger'
    .row
      .well.col-xs-6
        .col-md-10
          %strong Delete project from Testributor: <br>
          This action cannot be reverted. All your builds will be discarded.
        .col-md-2
          = button_to "Delete", project_path(current_project), method: :delete,
            data: { confirm: "'#{current_project.name}' project will be deleted. Are you sure?" },
            class: 'btn btn-md btn-danger'
  - else
    - # Remove this when we add general settings which the non-owner users can change
    .alert.alert-danger Only the owner of this project can edit these settings

.panel
  .panel-heading
    %h3.panel-title Auto-tracking
  .panel-body
    = form_for current_project do |f|
      .row
        .col-xs-12
          .form-group
            = f.label :auto_track_branches, class: 'cr-styled' do |label|
              = f.check_box :auto_track_branches
              %i.fa
              = "Automatically track a branch when it is pushed to github/bitbucket"
      .row
        .col-xs-12
          .form-group
            = f.submit "Save", class: 'btn btn-primary'
