%h1 Listing test_job_files

%table.table.table-striped.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th= "File"
      %th= "Result"
      %th= "Count"
      %th= "Assertions"
      %th= "Skips"
      %th= "Errors"
      %th= "Failures"
      %th= "Status"
  %tbody
    - @test_job_files.each do |test_job_file|
      %tr
        %td= test_job_file.file_name
        %td= test_job_file.result
        %td= test_job_file.count
        %td= test_job_file.assertions
        %td= test_job_file.skips
        %td= test_job_file.test_errors
        %td= test_job_file.failures
        %td= test_job_file.status
        %td= link_to 'Retry', '#' # TODO
