- breadcrumb :settings, current_project

- content_for :page_title do
  Settings

.panel-body
  .panel.panel-default
    .panel-heading
      %h3.panel-title Instructions
    .panel-body
      Read the instructions on how to setup your project
      = link_to("here", instructions_project_path(current_project))
  .panel.panel-default
    .panel-heading
      %h3.panel-title Application credentials:
    .panel-body
      %pre
        = "Client id:     #{current_project.oauth_application.uid}".html_safe
        %br
        = "Client Secret: #{current_project.oauth_application.secret}".html_safe

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Docker compose file
        = link_to docker_compose_project_path(current_project) do
          %i.fa.fa-download
    .panel-body
      %pre= current_project.generate_docker_compose_yaml

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Language and technologies
    .panel-body
      = form_for current_project, url: project_path do |f|
        .col-xs-6
          %h3 Language
          = f.select :docker_image_id,
            grouped_options_for_select(grouped_languages_options,
            f.object.docker_image_id)
        .col-xs-6
          %h3 Technologies
          = f.select :technology_ids,
            options_for_select(technologies_options, f.object.technology_ids),
            {}, multiple: true, class: 'multi-select'
        .col-xs-12
          .pull-right.m-t-15
            = f.submit "Save", class: 'btn btn-primary w-lg btn-lg'

- if can? :manage, current_project
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Delete project
    .panel-body
      = link_to "Delete", project_path(current_project), method: :delete,
        data: { confirm: "'#{current_project.name}' project will be deleted. Are you sure?" },
        class: 'btn btn-danger'
