- breadcrumb :settings, current_project

- content_for :page_title do
  Settings

.panel-body
  .panel.panel-default
    .panel-heading
      %h3.panel-title Instructions
    .panel-body
      Read the instructions on how to setup your project
      = link_to("here", instructions_project_path(current_project))

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Worker Groups
        (#{link_to 'add another', create_worker_group_project_path(current_project), method: :post})
    .panel-body
      - current_project.oauth_applications.each do |app|
        .well
          %p
            %strong
              Configuration file:
            %code
              docker-compose.yml
            = link_to docker_compose_project_path(current_project, client_id: app.id),
            class: 'btn btn-primary btn-xs' do
              %i.fa.fa-download
              Download
          %p
            :ruby
              api_client = current_project.
                find_or_initialize_api_client_by_oauth_application_id(app.id)
            = render partial: api_client.ssh_key_private.blank? ? 'ssh_key_form' : 'ssh_key_delete',
            locals: {api_client: api_client, repository_provider: current_project.repository_provider}
          %p
            = link_to delete_worker_group_project_path(client_id: app.id),
            method: :delete, class: 'btn btn-danger btn-lg' do
              %i.fa.fa-trash
              Delete Group

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Language and technologies
    .panel-body
      = form_for current_project, url: project_path do |f|
        .col-xs-6
          %h3 Language
          = f.select :docker_image_id,
            grouped_options_for_select(grouped_languages_options,
            f.object.docker_image_id)
        .col-xs-6
          %h3 Technologies
          = f.select :technology_ids,
            options_for_select(technologies_options, f.object.technology_ids),
            {}, multiple: true, class: 'multi-select'
        .col-xs-12
          .pull-right.m-t-15
            = f.submit "Save", class: 'btn btn-primary w-lg btn-lg'

- if can? :manage, current_project
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Delete project
    .panel-body
      = link_to "Delete", project_path(current_project), method: :delete,
        data: { confirm: "'#{current_project.name}' project will be deleted. Are you sure?" },
        class: 'btn btn-danger'
