- breadcrumb :project, current_project

- content_for :page_title do
  Branches

= link_to new_project_branch_path(current_project), class: 'body-gray' do
  %i.fa.fa-plus-circle.m-b-10
  Add a branch

.panel.panel-default
  - if @branches.empty?
    .panel-heading

      %h3= "No branches found for project '#{current_project.owner_and_name}'"
      = link_to "Add a branch",
        new_project_branch_path(current_project),
        class: 'btn btn-primary m-l-10'
  - else
    .panel-body
      .row
        .col-md-12.col-sm-12.col-xs-12
          .table-responsive
            %table.table
              %thead
                %tr
                  %th Branch
                  %th Latest Run Commit
                  %th Last run
                  %th Status
                  %th Actions
              %tbody
                - @branches.each do |branch|
                  %tr
                    %td= link_to branch.branch_name,
                        project_branch_test_runs_path(branch.project, branch)
                    %td
                      - if branch.last_run
                        = branch.last_run.decorate.commit_message
                        %br
                        %i= branch.last_run.decorate.commit_info
                    %td
                      - if branch.last_run.try(:completed_at)
                        = "#{time_ago_in_words(branch.last_run.completed_at)} ago"
                    %td
                      %span{class: branch.status.try(:css_class)}
                        = branch.status.try(:text)
                    - if branch.test_runs.present?
                      %td= button_to branch.status.cta_text,
                        project_branch_test_run_path(branch.project.id,
                        branch.id, branch.try(:last_run).try(:id),
                        status: branch.status.status_to_set),
                        class: 'btn btn-primary', method: :put
                    -else
                      %td= button_to "Add a new run",
                        project_branch_test_runs_path(branch.project.id, branch.id),
                        class: 'btn btn-primary', method: :post
