- breadcrumb :project, current_project

- content_for :page_title do
  Branches

.panel.panel-default
  - if @branches.empty?
    .panel-heading
      %h2 Your master branch is getting cooked.
      %h3
        Please reload the page to check if it's done or
        = link_to 'add', new_project_branch_path(current_project)
        another branch.
  - else
    .panel-body
      .row
        .col-md-12.col-sm-12.col-xs-12
          .table-responsive
            %table.table
              %thead
                %tr
                  %th Branch
                  %th Latest Run Commit
                  %th Completed at
                  %th Status
                  %th Actions
              %tbody
                - @branches.each do |branch|
                  %tr
                    %td= link_to branch.branch_name,
                        project_branch_test_runs_path(branch.project, branch)
                    %td= branch.last_run.decorate.commit_message
                    %td= branch.last_run.try(:completed_at)
                    %td
                      %span{class: branch.status.try(:css_class)}
                        = branch.status.try(:text)
                    - if branch.test_runs.present?
                      %td= button_to branch.status.cta_text,
                        project_branch_test_run_path(branch.project.id,
                        branch.id, branch.try(:last_run).try(:id),
                        status: branch.status.status_to_set),
                        class: 'btn btn-primary', method: :put
                    -else
                      %td= button_to "Add a new run",
                        project_branch_test_runs_path(branch.project.id, branch.id),
                        class: 'btn btn-primary', method: :post
