- if @project.tracked_branches.empty?
  %h2 Your master branch is getting cooked.
  %h3
    Please reload the page to check if it's done or
    = link_to 'add', new_project_branch_path(@project)
    another branch.
- else
  %h2= "Your tracked branches in project '#{@project.repository_name}'"
  %h3 Select which branch you want to manage
  %ol
    - @project.tracked_branches.each do |b|
      %li= link_to b.branch_name, project_branch_test_runs_path(@project, b.id)
  %p
    or
    = link_to 'add', new_project_branch_path(@project)
    one more branch to this project.
