- if @branches
  - if @branches.empty?
    %p
      %h2 No branches found! None. Zero. Zilch. Nada.
      We were unable to find any branches in the '#{@project.repository_name}'. That's weird...
  - else
    %h2 The branches of '#{@project.repository_name}' repository on Github
    %ul
      - @branches.each do |branch|
        %li
          = form_for branch, url: { action: :create } do |f|
            = f.hidden_field :branch_name
            = f.submit branch.branch_name
- else
  %h2 Your Testributor account is not connected to GitHub.
  %p
    We're going to now talk to the GitHub API. Ready?
    = link_to 'Click here', github_oauth_authorize_url
    to begin!
