- breadcrumb :tracked_branch, current_project, @tracked_branch

- content_for :page_title do
  = link_to @tracked_branch.branch_name, project_path(id: current_project.id)

.panel.panel-default
  .panel-body
    .row
      .col-md-12.col-sm-12.col-xs-12
        .pull-right
          = link_to project_branch_test_runs_path, method: :post,
            action: :create, class: 'body-gray' do
            %i.fa.fa-plus-circle
            %span= 'Add a new run'
        -#
          = link_to "Destroy branch",
            project_branch_path(current_project, @tracked_branch),
            method: :delete, class: 'btn btn-danger',
            data: { confirm: "Branch will be removed from this project. Are you sure?" }

        %table.table
          %thead
            %tr
              %th= "Test Run"
              %th= "Commit message (SHA)"
              %th= "Status"
              %th= "Total run time"
              %th= "Actions"
          %tbody
            - @test_runs.each_with_index do |test_run, index|
              - reverse_order_num = (index - @test_runs.size).abs
              %tr
                %td.col-md-1
                  = link_to "##{reverse_order_num}", project_test_run_path(current_project, test_run)
                %td.col-md-5
                  = test_run.decorate.commit_message
                  %br
                  %i= test_run.decorate.commit_info
                %td.col-md-2
                  .test{class: test_run.status.css_class}
                    - if test_run.status.code == TestStatus::RUNNING
                      %i.fa.fa-cog.fa-spin.fa-1x.fa-fw.m-r-5{style: "color: #{test_run.decorate.cog_color}" }
                    %span
                      = test_run.status.text
                %td.col-md-2
                  - if test_run.total_running_time
                    = distance_of_time_in_words(0, test_run.total_running_time, include_seconds: true)
                %td.col-md-2
                  - if reverse_order_num == @test_runs.size || test_run.status.code == TestStatus::RUNNING
                    = render partial: 'test_run_actions', locals: { test_run: test_run }
