- breadcrumb :tracked_branch, current_project, @tracked_branch

- content_for :page_title do
  = @tracked_branch.branch_name

.panel.panel-default
  .panel-body
    .row
      .col-md-12.col-sm-12.col-xs-12
        .pull-right
          = link_to new_project_branch_test_run_path, method: :post, action: :create do
            %button.btn.btn-icon.btn-info.m-b-5.w-md
              %i.fa.fa-plus.m-r-5
              %span= 'Add a new run'

        %table.table
          %thead
            %tr
              %th= "Test Run"
              %th= "Git reference"
              %th= "Status"
              %th= "Current Total time"
              %th= "Details"
              %th= "Actions"
          %tbody
            - @tracked_branch.test_runs.each do |test_run|
              %tr
                %td= "##{test_run.id}"
                %td= test_run.commit_sha
                %td
                  %span{class: test_run.status.css_class}= test_run.status.text
                %td= distance_of_time_in_words(test_run.total_running_time) if test_run.total_running_time
                %td= link_to 'Details',
                  project_branch_test_run_path(current_project, test_run.tracked_branch_id, test_run),
                  class: 'btn btn-info'
                %td
                  = render partial: 'test_run_actions', locals: { test_run: test_run }
