- breadcrumb :test_run, current_project, @test_run

- content_for :page_title do
  = link_to project_branch_test_runs_path(current_project,
    @test_run.tracked_branch) do
    = "Test Run ##{@test_run.id}"

.panel.panel-default{ data: { test_run_id: @test_run.id }}
  .panel-heading.test-run-panel-heading
    .pull-left
      %h3
        #{@test_run.decorate.commit_message(render_as_link: true)}
        %br
        #{@test_run.decorate.commit_info}
    .test
      .pull-right
        = render partial: 'test_run_actions', locals: { test_run: @test_run }
  .panel-body
    .row
      .col-xs-12
        .table-responsive
          %table.table
            %thead
              %tr
                %th='File'
                %th='Status'
                %th='Errors'
                %th='Failures'
                %th='Tests'
                %th='Assertions'
                %th='Skips'
                %th='Completed at (UTC)'
                %th='Total running time'
                %th='Actions'
            %tbody
              - @test_jobs.each do |test_job|
                %tr{id: "test-job-#{test_job.id}"}
                  %td= test_job.command
                  %td
                    %span{class: test_job.status.css_class}= test_job.status.text
                  %td= test_job.test_errors
                  %td= test_job.failures
                  %td= test_job.count
                  %td= test_job.assertions
                  %td= test_job.skips
                  %td= l(test_job.completed_at, format: :short) if test_job.completed_at
                  %td
                    - if test_job.total_running_time
                      = distance_of_time_in_words(0, test_job.total_running_time, include_seconds: true)
                  %td
                    - if test_job.status.terminal?
                      = link_to project_test_job_retry_path(current_project,
                        test_job),
                        class: "btn btn-primary btn-xs m-b-5", method: :put do
                        %i.fa.fa-refresh
                        %span= "Retry"

                - if test_job.status.failed? || test_job.status.error?
                  %tr.danger
                    %td{ colspan: 10, style: "text-align: left" }= simple_format(test_job.result)
