- breadcrumb :project_files, current_project

- content_for :page_title do
  Files
.panel.panel-default
  .panel-heading
    %h2 Project Files
  .panel-body
    %h5
      The following files are added to the specified path before any job is run.
      The paths should be relative to the project's root.

    .row
      .col-xs-12
        .tabs-vertical-env
          %ul.nav.tabs-vertical
            - @project_files.each do |file|
              %li
                = link_to file.path, "#file-#{file.id}", data: { toggle: 'tab' }
            %li
              = link_to "New file", "#new-file", data: { toggle: 'tab' }
          .tab-content
            - @project_files.each do |file|
              .tab-pane{id: "file-#{file.id}"}
                = simple_form_for [@project, file],
                  url: project_file_path(@project, file),
                  html: { class: "form-horizontal js-edit-form-#{file.id}" } do |f|
                  = f.input :path, label: false
                  = f.input :contents, label: false
                  .col-sm-9
                    .form-group
                      .pull-right
                        = link_to "Destroy", project_file_path(@project, file),
                          method: :delete,
                          class: 'btn btn-danger btn-sm',
                          data: { confirm: "The file will be deleted and can't be undone. Are you sure?" }
                        = f.submit "Save", class: 'btn btn-sm btn-default'
              .tab-pane#new-file
                = simple_form_for [@project, @project.project_files.build],
                  wrapper: :horizontal_form,
                  url: project_files_path(@project),
                  html: { class: "form-horizontal js-new-file" } do |f|
                  = f.input :path, label: false
                  = f.input :contents, label: false
                  .col-sm-9
                    .form-group
                      .pull-right
                        = f.submit "Save", class: 'btn btn-sm btn-default'
