= form_for @test_job do |f|
  - if @test_job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@test_job.errors.count, "error")} prohibited this test job from being saved:"
      %ul
        - @test_job.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
