.container
  .row
    .col-xs-12
      %h1 Test Job ##{@job.id}
      = link_to "Back to test jobs", test_jobs_path
      %div= "Git commit: #{@job.commit_sha}"
  .row
    .col-xs-12
      %table.table.table-bordered.table-striped.table-condensed.table-hover
        %thead
          %tr
            %th='id'
            %th='File'
            %th='Status'
            %th='Errors'
            %th='Failures'
            %th='Tests'
            %th='Assertions'
            %th='Skips'
            %th='Started at (UTC)'
            %th='Completed at (UTC)'
            %th='Total running time'
            %th='Actions'
        %tbody
          - @job_files.each do |job_file|
            %tr{ class: job_file.css_class }
              %td{ rowspan: (job_file.result.present? ? 2 : 1) }= job_file.id
              %td= job_file.file_name
              %td= job_file.text_status
              %td= job_file.test_errors
              %td= job_file.failures
              %td= job_file.count
              %td= job_file.assertions
              %td= job_file.skips
              %td= l(job_file.started_at, format: :no_utc) if job_file.started_at
              %td= l(job_file.completed_at, format: :no_utc) if job_file.completed_at
              %td= distance_of_time_in_words(0, job_file.total_running_time, include_seconds: true) if job_file.total_running_time
              - if job_file.status != TestStatus::PENDING
                %td
                  = button_to 'Retry',
                    test_job_file_path(job_file, status: TestStatus::PENDING),
                    class: 'btn btn-primary', method: :put
            - if job_file.result.present?
              %tr.danger
                %td{ colspan: 10, style: "text-align: left" }=simple_format(job_file.result)
