%h2= t "devise.invitations.new.header", project: current_project.name
= form_for resource, :as => resource_name, :url => project_invitations_path,
  :html => {:method => :post} do |f|
  = devise_error_messages!
  = hidden_field_tag :project, current_project.name
  - resource.class.invite_key_fields.each do |field|
    %p
      = f.label field
      %br
      = f.text_field field
  %p= f.submit t("devise.invitations.new.submit_button")
