- breadcrumb :new_invitation, current_project

- content_for :page_title do
  Invite user

.panel.panel-default
  .panel-header
    %h2= t "devise.invitations.new.header", project: current_project.name
  .panel-body
    .row
      .col-lg-6
        = form_for resource, :as => resource_name, :url => project_invitations_path,
          :html => {:method => :post, class: 'form-horizontal'} do |f|
          - if f.object.errors.any?
            .alert.alert-danger= f.object.errors.full_messages.to_sentence
          = hidden_field_tag :project, current_project.name
          - resource.class.invite_key_fields.each do |field|
            .form-group
              = f.label field, class: 'col-sm-2 control-label'
              .col-sm-10
                = f.text_field field, class: 'form-control'
            .form-group
              .col-sm-12.col-sm-offset-2
                = f.submit t("devise.invitations.new.submit_button"),
                  class: 'btn btn-default'
