%footer.footer
  .container
    .row
      .col-xs-12.col-sm-4.m-b-5
        = link_to pages_path('about_us'), class: 'btn-custom' do
          About us
        &#124;
        = link_to pages_path("faqs"), class: 'btn-custom' do
          FAQs
      .col-xs-12.col-sm-4.m-b-5.text-center= "© #{Time.current.year} Testributor"
      .col-xs-12.col-sm-4.m-b-5
        %span.social
          = link_to "https://www.twitter.com/testributor", class: 'btn-custom',
            target: "_blank" do
            %i.fa.fa-twitter
          = link_to "https://www.facebook.com/testributor/", class: 'btn-custom',
            target: "_blank" do
            %i.fa.fa-facebook
          = link_to "https://plus.google.com/115118310357583894547", class: 'btn-custom',
            target: "_blank" do
            %i.fa.fa-google-plus
          = link_to "https://www.linkedin.com/company/testributor", class: 'btn-custom',
            target: "_blank" do
            %i.fa.fa-linkedin
