%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ data: { toggle: 'collapse', target: '#navbar' },
        "aria-expanded" => "false", "aria-controls" => 'navbar' }
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to brand_name, root_path, class: "navbar-brand"
    #navbar.collapse.navbar-collapse
      - if user_signed_in?
        %ul.nav.navbar-nav
          %li= link_to 'Dashboard', dashboard_path
          - if current_project
            %li.dropdown
              %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" },
                role: "button", "aria-haspopup" => "true",
                "aria-expanded" => "false" }
                = current_project.name
                %span.caret
              %ul.dropdown-menu
                - current_user.participating_projects.each do |project|
                  %li{ class: current_page?(project_path(project)) ? 'active' : nil }
                    = link_to project.name, project_path(project)
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{ data: { toggle: 'dropdown' }, role: 'button',
            "aria_haspopup" => "true", "aria_expanded" => "false" }
            = user_signed_in? ? current_user.email : 'Account'
            %span.caret
          %ul.dropdown-menu
            - if current_project && current_project.user_id == current_user.id
              %li= link_to I18n.t('.invite_user'), new_project_invitation_path(current_project)
            - unless user_signed_in?
              %li= link_to 'Sign in', new_user_session_path
              %li= link_to 'Sign up', new_user_registration_path
            - else
              %li= link_to('Sign out', destroy_user_session_path, :method => :delete)
