%header.top-head.container-fluid
  %button.navbar-toggle.pull-left{type: "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  / Right navbar
  %ul.list-inline.navbar-right.top-menu.top-right-menu
    / user login dropdown start
    %li.dropdown.text-center
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        %span.username= current_user.email
        %span.caret
      %ul.dropdown-menu.extended.pro-menu.fadeInUp.animated{style: "overflow: hidden; outline: none;", tabindex: "5003"}
        - unless user_signed_in?
          %li= link_to 'Sign in', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path
        - else
          %li
            = link_to(destroy_user_session_path, method: :delete) do
              %i.fa.fa-sign-out
              Sign out
  = link_to 'Send us feedback', '#',
    class: "btn btn-default pull-right m-t-10 m-r-15",
    data: { toggle: 'modal', target: '#feedback-modal' }
