%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_url, class: "logo-expanded navbar-brand logo" do
        %i.ion-social-buffer
        %img{alt: "logo", src: image_path("logo-sm.png"), width: '45'}
        %div.text Testributor
    - if user_signed_in?
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            = link_to project_wizard_path(:select_repository), class: '' do
              %i.fa.fa-plus
              Add a project
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to '#', data: { toggle: 'modal', target: '#feedback-modal' } do
              %i.fa.fa-envelope-o
              Send feedback
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.email
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to(destroy_user_session_path, method: :delete) do
                  %i.fa.fa-sign-out
                  Sign out
