- if user_signed_in?
  %ul.nav.nav-sidebar
    - if current_project
      %li.dropdown
        %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" },
          role: "button", "aria-haspopup" => "true",
          "aria-expanded" => "false" }
          %span.project-name= current_project.name
          %span.caret
        %ul.dropdown-menu
          - current_user.participating_projects.each do |project|
            %li{ class: current_page?(project_path(project)) ? 'active' : nil }
              = link_to project.name, project_path(project)
%ul.nav.nav-sidebar
  %li= link_to "Add a project", new_project_path

  - if current_project
    %li{ class: current_page?(project_path(current_project)) ? 'active' : nil }
      = link_to "Tracked branches", project_path(current_project)
    %li{ class: current_page?(project_files_path(current_project)) ? 'active' : nil }
      = link_to "Files", project_files_path(current_project)
  - else
    - if current_user.participating_projects.any?
      - current_user.participating_projects.each do |project|
        %li= link_to project.name, project_path(project)
  - if current_project && current_project.user_id == current_user.id
    %li= link_to t('invite_users'), new_project_invitation_path(current_project)
