.collapse.navbar-collapse.navbar-ex1-collapse
  - if user_signed_in?
    %ul.nav.navbar-nav.side-nav
      %li
        = link_to root_url do
          %i.fa.fa-fw.fa-dashboard
          Dashboard
      - current_user.projects.each do |project|
        %li
          = link_to "javascript:;", data: { toggle: "collapse", target: "##{project.name}" } do
            %i.fa.fa-fw.fa-list-ul.fa-flip-horizontal
            %span= project.name
            %i.fa.fa-fw.fa-caret-down
          %ul.collapse{ id: project.name}
            %li{ class: current_page?(project_path(project)) ? 'active' : nil }
              %ul
                - project.tracked_branches.each do |branch|
                  %li= link_to branch.branch_name,
                    project_branch_test_runs_path(project, branch)
            %li{ class: current_page?(project_files_path(project)) ? 'active' : nil }
              = link_to "Files", project_files_path(project)
            %li= link_to t('invite_users'), new_project_invitation_path(project)
            %li= link_to "API Credentials", api_credentials_project_path(project)

      %li
        =link_to new_project_path do
          %i.fa.fa-fw.fa-plus
          Add a project

