%html
  %head
    %title= brand_name
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = render "layouts/favicon"
    = stylesheet_link_tag    'front', media: 'all'
    %link{href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic", rel: "stylesheet"}
    %link{href: "http://fonts.googleapis.com/css?family=Cuprum:400,700", rel: "stylesheet", type: "text/css"}

    = csrf_meta_tags
  %body{class: controller_and_action, data: page_data_attrs}
    = yield
    = javascript_include_tag 'front'
