!!!
%html
  %head
    %title= brand_name
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = render "layouts/favicon"
    %link{href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic", rel: "stylesheet"}

    = stylesheet_link_tag    'dashboard', media: 'all'
    = csrf_meta_tags
  %body{class: controller_and_action, data: page_data_attrs}
    = render partial: 'layouts/sidebar'
    %section.content
      = render partial: 'layouts/header'
      :ruby
        show_zero_workers_warning =
          current_project && current_project.active_workers == 0 &&
          !current_page?(instructions_project_path(current_project))

      - if show_zero_workers_warning
        .alert.alert-danger
          There are no active workers for this project.
          No jobs are being run. Check
          = link_to("the instructions", instructions_project_path(current_project))
          on how to add one.
      .wraper.container-fluid
        - if flash[:notice].present?
          .alert.alert-info= flash[:notice]
        - if flash[:alert].present?
          .alert.alert-danger= flash[:alert].html_safe
        .pull-right
          = breadcrumbs pretext: "You are here: ", style: :bootstrap,
            display_single_fragment: true
        - if content_for?(:page_title)
          .page-title
            %h3= yield :page_title
        .row
          .col-md-12
            = yield

    = javascript_include_tag 'dashboard'
    = yield(:in_page_js) if content_for?(:in_page_js)
