!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag    'dashboard', media: 'all'
    %link{href:'http://fonts.googleapis.com/css?family=Lato:400,700', rel:'stylesheet', type:'text/css'}
    = javascript_include_tag 'dashboard'
    = csrf_meta_tags
  %body{class: controller_and_action, data: page_data_attrs}
    #wrapper
      %nav.navbar.navbar-inverse.navbar-fixed-top{ role: "navigation" }
        = render partial: 'layouts/header'
        = render partial: 'layouts/sidebar'
      #page-wrapper
        .container-fluid
          .row
            - if notice
              %p.alert.alert-success= notice
            - if alert
              %p.alert.alert-danger= alert
            = yield
