%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Katana
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :css
      body {
        padding-top: 50px;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
  %body
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ data: { toggle: 'collapse', target: '#navbar' },
            "aria-expanded" => "false", "aria-controls" => 'navbar' }
            %span.sr-only
              Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Katanomeas", root_path, class: "navbar-brand"
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active= link_to "Home", '#'
            %li= link_to "About", '#'
            %li= link_to "Contact", '#'
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{ data: { toggle: 'dropdown' }, role: 'button',
                "aria_haspopup" => "true", "aria_expanded" => "false" }
                = current_user.email
                %span.caret
              %ul.dropdown-menu
                %li= link_to('Sign out', destroy_user_session_path, :method => :delete)
    .container
      .starter-template
        = yield
