!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag    'dashboard', media: 'all'
    %link{href:'http://fonts.googleapis.com/css?family=Lato:400,700', rel:'stylesheet', type:'text/css'}
    = javascript_include_tag 'dashboard'
    = csrf_meta_tags
  %body{class: controller_and_action, data: page_data_attrs}
    = render partial: 'layouts/sidebar'
    %section.content
      = render partial: 'layouts/header'
      %wrapper.container-fluid
        = yield

