%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= brand_name
    = stylesheet_link_tag    'front', media: 'all'
    %link{href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic", rel: "stylesheet"}
    %link{href: "http://fonts.googleapis.com/css?family=Cuprum:400,700", rel: "stylesheet", type: "text/css"}

    = csrf_meta_tags
  %body{class: controller_and_action, data: page_data_attrs}
    %header
      %section.hero
        .container
          .row.nav-wrapper
            %nav.navbar.navbar-custom
              .container-fluid
                .navbar-header
                  %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
                    %span.sr-only Toggle navigation
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
                  %a.navbar-brand{href: root_path}
                    %img{alt: "logo", src: image_path("logo.png")}
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  %ul.nav.navbar-nav.navbar-right
                    %li
                      %a{href: "#how"} How it works
                    %li
                      %a{href: "#features"} Features
                    %li
                      %a{href: "#pricing"} Pricing
                    %li
                      %a{href: "#clients"} Clients
                    %li
                      %a{href: new_user_session_path} Log In
                    %li
                      %a.btn-signup.btn-primary{href: new_user_registration_path} Sign Up
          .row.hero-content.text-center
            %h1 Testributor - Optimized for developer productivity
            #macbook
              #tour.carousel.slide{"data-ride" => "carousel"}
                / Indicators
                %ol.carousel-indicators
                  %li.active{"data-slide-to" => "0", "data-target" => "#tour"}
                  %li{"data-slide-to" => "1", "data-target" => "#tour"}
                  %li{"data-slide-to" => "2", "data-target" => "#tour"}
                .carousel-inner
                  .item.active
                    %img{alt: "slide-img", src: image_path("stock1.jpg")}
                  .item
                    %img{alt: "slide-img", src: image_path("stock2.jpg")}
                  .item
                    %img{alt: "slide-img", src: image_path("stock3.jpg")}
    = yield
    %footer.footer
      .container
        .row
          .col-lg-3.col-md-3
            %a.navbar-brand-footer{href: "#"}
              %img{alt: "logo", src: image_path("logo.png")}
          .col-lg-4.col-lg-offset-3.col-md-7
            %ul.nav.navbar-nav
              %li
                %a{href: "#how"} How it works
              %li
                %a{href: "#features"} Features
              %li
                %a{href: "#pricing"} Pricing
              %li
                %a{href: "#clients"} Clients
          .col-lg-2.col-md-2
            %ul.social-icons
              %li
                %a{href: "#"}
                  %i.fa.fa-facebook
              %li
                %a{href: "#"}
                  %i.fa.fa-twitter
              %li
                %a{href: "#"}
                  %i.fa.fa-google-plus
    = javascript_include_tag 'front'
