%h2
  = "Hello #{@user_invitation.email}"
%p
  You are invited by user #{@project.user.email} to participate in project
  = "\"#{@project.name}\""
  on testributor.com
%p
  Click
  = link_to "here", @accept_url
  to accept the invitation.
%p
  If this email reaches you by mistake please ignore it.
